.CameraRow {
  padding: 2px;
  background-color: #4b4c60;
  height: 40px;
}

.Normal {
  background-color: #4b4c60;
}

.Selected {
  background-color: #FF990080;
}

.CameraTableHeader {
  color: gray;
}

.CamTableDataLong {
  min-width: 250px;
}
